<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/myblog3</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- 整合C3P0实现连接池 -->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.min_size">5</property>
        
        <!-- 展示sql语句结构 -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        
        
        <!-- 正向工程，让数据库自动建表 -->
        <!-- <property name="hibernate.hbm2ddl.auto">create</property> -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        
        <mapping class="com.ssh.model.User"/> 
        <mapping class="com.ssh.model.Role"/>     
        
    </session-factory>
    
    
</hibernate-configuration>
